* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

body {
  background-image: url(./assets/Background_Intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #16181d;
}

.user {
  display: flex;
  justify-content: center;
  padding-block: 60px;
}

.content {
  text-align: center;
}

.hello {
  font-family: "Inconsolata", monospace;
  color: #c0c4ce;
  padding-top: 55px;
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;

  span {
    color: #e3646e;
  }
}

.user h1 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 56px;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 24px;
}

.subtitulo {
  font-family: "Maven Pro", sans-serif;
  color: #878ea1;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  width: 70%;
  margin: auto;
}

.logos {
  display: flex;
  justify-content: center;
  padding: 90px;
}

.logos ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.logos ul li {
  display: flex;
  background-color: #292c34;
  padding-inline: 16px;
  align-items: center;
  margin-left: 10px;
  gap: 8px;
  font-family: "Asap", sans-serif;
  color: #c0c4ce;
  border-radius: 20px 20px 20px 20px;
  height: 40px;
}

.setas {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #16181d;
}

.content-2 p {
  display: flex;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #e3646e;
  margin-top: 120px;
  padding: 10px;
}

.content-2 h2 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

.destaques-1 {
  display: flex;
  gap: 30px;
  padding: 60px;
}

.image-container {
  background-color: #292c34;
  padding: 10px;
  border-radius: 12px;
  height: auto;
}

.image-container img {
  border-radius: 12px;
}

.destaques-1 h3 {
  display: flex;
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
  padding: 12px;
  margin-left: 0;
  padding-left: 0;
}

.destaques-1 p {
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
}

.background {
  padding-top: 5px;
  background-color: #0d0e11;
  background-size: cover;
  padding-bottom: 200px;
}

.background p {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #e3646e;
}

.background h2 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

.container-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.servico {
  border: solid #292c34 2px;
  border-radius: 12px;
  margin-top: 40px;
  padding: 10px;
  height: auto;
  /* width: 286px; */
}

.servico img {
  display: flex;
  padding-left: 8px;
}

.servico h3 {
  display: flex;
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 12px;
}

.servico p {
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  margin-top: 0;
  padding-left: 12px;
  margin-left: 0;
}

.servico-3 {
  border: solid #292c34 2px;
  border-radius: 12px;
  margin-top: 40px;
  padding: 10px;
  height: auto;
  width: 286px;
}

.servico-3 img {
  display: flex;
  padding-left: 6px;
}

.servico-3 h3 {
  display: flex;
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.servico-3 p {
  display: flex;
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

.background-2 {
  background-image: url(./assets/Background_Contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-3 p {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #bb72e9;
  text-align: center;
}

.content-3 h2 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-3 span {
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.contatos {
  margin-left: 435px;
  padding-block: 30px;
}

.contatos ul li {
  display: flex;
  padding: 20px;
  background-color: #292c34;
  border-radius: 8px;
  width: 395px;
  margin-top: 20px;
  align-items: center;
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
}

.contatos img {
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  background-color: #292c34;
  margin-bottom: 10px;
}

.list-item:hover {
  border: solid 2px #3996db;
}

.list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
}

.list-link img {
  margin-left: 10px;
}

.list-link img:last-child {
  margin-left: auto;
}
