* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 16px; /* Define a base para rem */
}

body {
  background-image: url(./assets/Background_Intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #16181d;
  overflow-x: hidden;
}

.user {
  display: flex;
  justify-content: center;
  padding-block: 3.75rem; /* 60px */
}

.content {
  text-align: center;
}

.hello {
  font-family: "Inconsolata", monospace;
  color: #c0c4ce;
  padding-top: 3.4375rem; /* 55px */
  padding-bottom: 0.75rem; /* 12px */
  font-size: 1.25rem; /* 20px */
  line-height: 1.2;
  font-weight: 500;
}

.hello span {
  color: #e3646e;
}

.user h1 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 3.5rem; /* 56px */
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1.5rem; /* 24px */
}

.subtitulo {
  font-family: "Maven Pro", sans-serif;
  color: #878ea1;
  font-size: 1.125rem; /* 18px */
  line-height: 1.4;
  font-weight: 400;
  width: 70%;
  margin: auto;
}

.logos {
  display: flex;
  justify-content: center;
  padding: 5.625rem; /* 90px */
}

.logos ul {
  display: flex;
  list-style: none;
  gap: 1.875rem; /* 30px */
}

.logos ul li {
  display: flex;
  background-color: #292c34;
  padding-inline: 1rem; /* 16px */
  align-items: center;
  margin-left: 0.625rem; /* 10px */
  gap: 0.5rem; /* 8px */
  font-family: "Asap", sans-serif;
  color: #c0c4ce;
  border-radius: 1.25rem; /* 20px */
  height: 2.5rem; /* 40px */
}

.setas {
  display: flex;
  justify-content: center;
  padding: 1.25rem; /* 20px */
  background-color: #16181d;
}

.content-2 p {
  display: flex;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 1.25rem; /* 20px */
  line-height: 1.2;
  font-weight: 400;
  color: #e3646e;
  margin-top: 7.5rem; /* 120px */
  padding: 0.625rem; /* 10px */
}

.content-2 h2 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 1.5rem; /* 24px */
  line-height: 1.2;
  font-weight: bold;
}

.destaques-1 {
  display: flex;
  gap: 1.875rem; /* 30px */
  padding: 3.75rem; /* 60px */
}

.image-container {
  background-color: #292c34;
  padding: 0.625rem; /* 10px */
  border-radius: 0.75rem; /* 12px */
  height: auto;
}

.image-container img {
  border-radius: 0.75rem; /* 12px */
  width: 100%; /* ajusta a imagem para ser responsiva */
  height: auto;
}

.destaques-1 h3 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 1rem; /* 16px */
  line-height: 1.2;
  font-weight: bold;
  margin-top: 0.625rem; /* 10px */
  padding: 0.75rem; /* 12px */
}

.destaques-1 p {
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 0.875rem; /* 14px */
  line-height: 1.4;
  font-weight: 400;
  margin-top: 0;
}

.background {
  padding-top: 0.3125rem; /* 5px */
  background-color: #0d0e11;
  padding-bottom: 12.5rem; /* 200px */
}

.background p {
  font-family: "Inconsolata", monospace;
  font-size: 1.25rem; /* 20px */
  line-height: 1.2;
  font-weight: 400;
  color: #e3646e;
}

.background h2 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 1.5rem; /* 24px */
  line-height: 1.2;
  font-weight: bold;
}

.container-2 {
  display: flex;
  justify-content: center;
  gap: 1.25rem; /* 20px */
}

.servico {
  border: solid #292c34 0.125rem; /* 2px */
  border-radius: 0.75rem; /* 12px */
  margin-top: 2.5rem; /* 40px */
  padding: 0.625rem; /* 10px */
  height: auto;
}

.servico img {
  display: flex;
  padding-left: 0.5rem; /* 8px */
}

.servico h3 {
  display: flex;
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 1rem; /* 16px */
  line-height: 1.2;
  font-weight: bold;
  padding-top: 0.625rem; /* 10px */
  padding-left: 0.75rem; /* 12px */
}

.servico p {
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 0.875rem; /* 14px */
  line-height: 1.4;
  font-weight: 400;
  margin-top: 0;
  padding-left: 0.75rem; /* 12px */
}

.servico-3 {
  border: solid #292c34 0.125rem; /* 2px */
  border-radius: 0.75rem; /* 12px */
  margin-top: 2.5rem; /* 40px */
  padding: 0.625rem; /* 10px */
  height: auto;
  width: 100%; /* largura responsiva */
  max-width: 18rem; /* 286px */
}

.servico-3 img {
  display: flex;
  padding-left: 0.375rem; /* 6px */
}

.servico-3 h3 {
  display: flex;
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 1rem; /* 16px */
  line-height: 1.2;
  font-weight: bold;
  padding-top: 0.625rem; /* 10px */
  padding-left: 0.625rem; /* 10px */
}

.servico-3 p {
  display: flex;
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 0.875rem; /* 14px */
  line-height: 1.4;
  font-weight: 400;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

.background-2 {
  background-image: url(./assets/Background_Contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-3 p {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #bb72e9;
  text-align: center;
}

.content-3 h2 {
  font-family: "Asap", sans-serif;
  color: #e2e4e9;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-3 span {
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.contatos {
  margin-left: 435px;
  padding-block: 30px;
}

.contatos ul li {
  display: flex;
  padding: 20px;
  background-color: #292c34;
  border-radius: 8px;
  width: 395px;
  margin-top: 20px;
  align-items: center;
  font-family: "Maven Pro", sans-serif;
  color: #c0c4ce;
}

.contatos img {
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  background-color: #292c34;
  margin-bottom: 10px;
}

.list-item:hover {
  border: solid 2px #3996db;
}

.list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
}

.list-link img {
  margin-left: 10px;
}

.list-link img:last-child {
  margin-left: auto;
}
